---
import ArticleHeader from '../components/article-header.astro';
import ALink from '../components/a-link.astro';
import Layout from './layout.astro';

export interface Props {
	title: string,
	description: string,
    publishedAt: Date,
    existingHackerNewsUrl?: string,
    previewImage?: string,
}

const { title, description, publishedAt, existingHackerNewsUrl, previewImage } = Astro.props;
const hackerNewsUrl = existingHackerNewsUrl || `https://news.ycombinator.com/submitlink?u=${encodeURIComponent(Astro.url)}&t=${encodeURIComponent(title)}`;
---

<Layout title={title} description={description} previewImage={previewImage} isArticle={true} publishedAt={publishedAt}>
    <script type="application/ld+json" set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": title,
        "description": description,
        "datePublished": publishedAt.toISOString(),
        "author": {
            "@type": "Person",
            "name": "Einenlum",
            "url": "https://www.einenlum.com/about"
        },
        "publisher": {
            "@type": "Person",
            "name": "Einenlum"
        },
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": Astro.url.href
        }
    })} />
    <!-- Pagefind will only look for articles now -->
    <div data-pagefind-body>
        <ArticleHeader title={title} publishedAt={publishedAt} />


        <div class="mt-4 mb-10 text-sm" data-pagefind-ignore="all">
            <div class="text-right">
                <p>Discuss this article on <ALink href={hackerNewsUrl}>Hacker News</ALink>.</p>
            </div>
        </div>

        <slot />

        {hackerNewsUrl && (
            <div class="mt-10 sm:mt-20 text-sm" data-pagefind-ignore="all">
                <div class="text-center">
                    <p>Discuss this article on <ALink href={hackerNewsUrl}>Hacker News</ALink>.</p>
                </div>
            </div>
        )}
    </div>
</Layout>
