---
import ArticleHeader from '../components/article-header.astro';
import ALink from '../components/a-link.astro';
import Layout from './layout.astro';

export interface Props {
	title: string,
	description: string,
    publishedAt: Date,
    hackerNewsUrl?: string,
}

const { title, description, publishedAt, hackerNewsUrl } = Astro.props;
---

<Layout title={title} description={description}>
    <!-- Pagefind will only look for articles now -->
    <div data-pagefind-body>
        <ArticleHeader title={title} publishedAt={publishedAt} />

        {hackerNewsUrl && (
            <div class="mt-4 mb-10 text-sm" data-pagefind-ignore="all">
                <div class="text-right">
                    <p>Discuss this article on <ALink href={hackerNewsUrl}>Hacker News</ALink>.</p>
                </div>
            </div>
        )}

        <slot />

        {hackerNewsUrl && (
            <div class="my-10 text-sm" data-pagefind-ignore="all">
                <div class="text-center">
                    <p>Discuss this article on <ALink href={hackerNewsUrl}>Hacker News</ALink>.</p>
                </div>
            </div>
        )}
    </div>
</Layout>
